
@{
    ViewBag.Title = "BR Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var labelarray = new List<string>();
    labelarray.Add("label-green");
    labelarray.Add("label-blue");
    labelarray.Add("label-purple");
    labelarray.Add("label-yellow");
    labelarray.Add("label-rosered");
    var bridx = 0;
}

<script src="~/Scripts/br.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function(){
        BR.brjolist();
    })
</script>

<div class="content">
    <div class="container">
        <div class="row row-search">
            <span class="search"></span>
            <div class="input-group search-div hide">
                <input type="text" class="search-input" id="keywords" placeholder="Search for...">
                <span class="input-group-btn search-icon"></span>
            </div>
        </div>
        <div class="br-info">
            <div class="col-md-9">
                <div class="content-title">
                    <span class="col-md-6" id="br_num">@ViewBag.currentbr.BRNumber</span>
                    <span class="col-md-6">OPEN</span>
                </div>
                <div class="br-info-content">
                    <table class="table table-bordered des-table">
                        <tr><td class="col-md-4">Originator</td><td>@ViewBag.currentbr.Originator</td></tr>
                        <tr><td class="col-md-4">Original Date</td><td>@ViewBag.currentbr.OriginalDate.ToString("yyyy-MM-dd hh:mm:ss")</td></tr>
                        <tr><td class="col-md-4">Description</td><td>@ViewBag.currentbr.Description</td></tr>
                        <tr><td class="col-md-4">Status</td><td>@ViewBag.currentbr.Status</td></tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1 jo-info-left">
                        <table class="table table-bordered table-hover cus-table">
                            @foreach (var item in ViewBag.currentbrjolist)
                            {
                                <tr><td>@item.JONumber</td><td>OPEN</td></tr>
                            }
                        </table>
                        @if (ViewBag.sub_total_pages > 1)
                        {
                            @Html.Partial("~/Views/Shared/_sub_pagination.cshtml")
                        }
                    </div>
                    <div class="col-md-6 col-md-offset-1 jo-info-right">
                        <table class="table table-bordered des-table">
                            <tr><td class="col-md-4">PN</td><td id="jo_pn">Test1</td></tr>
                            <tr><td class="col-md-4">JO Type</td><td id="jo_type">Test1</td></tr>
                            <tr><td class="col-md-4">JO Status</td><td id="jo_stat">Test1</td></tr>
                            <tr><td class="col-md-4">Date Released</td><td id="jo_date">Test1</td></tr>
                            <tr><td class="col-md-4">WIP</td><td id="jo_wip">Test1</td></tr>
                            <tr><td class="col-md-4">Planer</td><td id="jo_planner">Test1</td></tr>
                            <tr><td class="col-md-4"><a id="jo_detail" href="#">>>></a></td><td></td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="label-panel">
                    @foreach (var item in ViewBag.currentsearchlist)
                    {
                        <div class="label-color @(labelarray[bridx%labelarray.Count])">@item.BRNumber</div>
                        bridx = bridx + 1;
                    }
                </div>
                @if (ViewBag.total_pages > 1)
                {
                    @Html.Partial("~/Views/Shared/_pagination.cshtml")
                }
            </div>
        </div>
    </div>
    @if (ViewBag.searchkeyword != null)
    {
        <input id="h-searchkeyword" name="h-searchkeyword" value="@ViewBag.searchkeyword" type="hidden" />
    }
</div>
<footer>
    <span class="col-md-5 f-picture-hide"></span>
</footer>