
@{
    ViewBag.Title = "BR Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var labelarray = new List<string>();
    labelarray.Add("label-green");
    labelarray.Add("label-blue");
    labelarray.Add("label-purple");
    labelarray.Add("label-yellow");
    labelarray.Add("label-rosered");
    var bridx = 0;
}


<link href="@Url.Content("~/Content/bootstrapfileinput.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/br.js" type="text/javascript"></script>
<script src="../../ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ajaxfileupload.js" type="text/javascript"></script>

<style type="text/css">
    td {
        padding: 2px !important;
    }
</style>

<script type="text/javascript">
    $(function(){
        BR.brjolist();
    })
</script>

<div class="content">
    <div class="container">
        <div class="row row-search">
            <span class="search"></span>
            <div class="input-group search-div hide">
                <input type="text" class="search-input" id="keywords" placeholder="Search for...">
                <span class="input-group-btn search-icon"></span>
            </div>

        </div>
        <div class="br-info">
            <div class="col-xs-9">
                <div class="content-title">
                    <span class="col-xs-6" id="br_num">@ViewBag.currentbr.BRNumber</span>
                    <span class="col-xs-6">@ViewBag.currentbr.BRStatus</span>
                </div>
                <div class="br-info-content">
                    <table class="table table-bordered des-table">
                        <tr>
                            <td class="col-xs-4">Project</td>
                            <td>@ViewBag.currentbr.ProjectKey</td>
                        </tr>
                        <tr>
                            <td class="col-xs-4">Originator</td>
                            <td>@ViewBag.currentbr.Originator</td>
                        </tr>
                        <tr>
                            <td class="col-xs-4">Original Date</td>
                            <td>@ViewBag.currentbr.OriginalDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        </tr>
                        <tr>
                            <td class="col-xs-4">Description</td>
                            <td>@ViewBag.currentbr.Description</td>
                        </tr>
                        <tr>
                            <td class="col-xs-4">Agile Status</td>
                            <td>@ViewBag.currentbr.Status</td>
                        </tr>
                        <tr>
                            <td class="col-xs-4">Agile Status</td>
                            <td>@ViewBag.currentbr.Status</td>
                        </tr>
                        <tr>
                            <td class="col-xs-4">Agile Status</td>
                            <td>@ViewBag.currentbr.Status</td>
                        </tr>
                        <tr>
                            <td class="col-xs-4">Agile Status</td>
                            <td>@ViewBag.currentbr.Status</td>
                        </tr>
                        <tr>
                            <td class="col-xs-4">Agile Status</td>
                            <td>@ViewBag.currentbr.Status</td>
                        <tr>
                            <td class="col-xs-4">JO List</td>
                            <td>
                                <a href="/BRTrace/JOList?BR=@ViewBag.currentbr.BRNumber" target="_blank">
                                    <img src="~/Content/images/loading.png" height="6" width="24" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <div class="panel panel-success br-panel">
                        <div class="panel-heading cursor-pointer br-panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title br-panel-title" data-toggle="collapse" data-target="#c_conclusion" aria-expanded="true">
                                <span class="title-box">Conclusion</span>
                                <span class="glyphicon glyphicon-chevron-down chevron-down"></span>
                            </h4>
                        </div>
                        <div id="c_conclusion" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                @using (Html.BeginForm("AddBRComment", "BRTrace", FormMethod.Post, new { enctype = "multipart/form-data", id = "", name = "" }))
                                {
                                    <input id="HBRNUM" name="HBRNUM" value="@ViewBag.currentbr.BRNumber" type="hidden" />
                                    <input id="conclusionid" name="conclusionid" value="" type="hidden" />
                                    <input id="commentid" name="commentid" value="" type="hidden" />

                                    if (ViewBag.currentbr.ConclusionCommentList != null && ViewBag.currentbr.ConclusionCommentList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.currentbr.ConclusionCommentList)
                                        {
                                            <div class="row con-border-color">
                                                <div class="col-xs-10">
                                                    <a>@item.Reporter.Split(new char[] { '@' })[0]</a>
                                                    <span>@item.CommentDate.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                                </div>
                                                <div class="col-xs-1">
                                                    <img src="~/Content/images/edit2.png" MYTP="HOVER" style="height:25px; width:20px;cursor:pointer" onclick="editconclusion('@(item.CommentKey)','@item.Comment.Replace("\r", "").Replace("\n", "")')">
                                                </div>
                                                <div class="col-xs-1">
                                                    <a href="/BRTrace/DeleteBRComment?CommentKey=@(item.CommentKey)&BRNum=@(ViewBag.currentbr.BRNumber)">
                                                        <img src="~/Content/images/delete2.png" MYTP="HOVER" style="height:25px; width:20px">
                                                    </a>
                                                </div>
                                                <div class="col-xs-offset-1">@Html.Raw(item.Comment)</div>
                                            </div>
                                        }
                                        <script type="text/javascript">
                                            function editconclusion(cid, cmt) {
                                                $('#conclusionid').val(cid);
                                                CKEDITOR.instances.conclusioneditor.setData(cmt);
                                                $('#conclusioninput').removeClass('hidden');
                                            }
                                        </script>
                                    }

                                    <div id="conclusioninput" name="conclusioninput" class="row @((ViewBag.currentbr.ConclusionCommentList != null && ViewBag.currentbr.ConclusionCommentList.Count > 0) ? "hidden" : "")">
                                        <div class="row ckedit-box">
                                            <textarea name="conclusioneditor" id="conclusioneditor" rows="10" cols="80"></textarea>
                                            <script>
                                                CKEDITOR.replace('conclusioneditor', { htmlEncodeOutput: true, filebrowserUploadUrl: '/userfiles/Upload.ashx', skin: 'moono-dark' });
                                            </script>
                                        </div>
                                        <div class="row con-op">
                                            <div class="col-xs-4">
                                                <span class="btn btn-default btn-file" id="choosefile1">
                                                    Editor Attachment <input class="btn-available" type="file" name="file1" id="file1" runat="server" onchange="ShowFileNames1(this)" />
                                                </span>
                                            </div>
                                            <div class="col-xs-offset-6">
                                                <input class="btn btn-success" type="submit" value="Submit" />
                                                @if (ViewBag.currentbr.ConclusionCommentList != null && ViewBag.currentbr.ConclusionCommentList.Count > 0)
                                                {
                                                    <input class="btn btn-warning" type="button" id="btn_con_cancel" value="Cancel" />
                                                }
                                            </div>
                                            <script type="text/javascript">
                                                $("body").on("click", "#btn_con_cancel", function () {
                                                    $("#conclusioninput").addClass("hidden");
                                                })
                                                function ShowFileNames1(oFile) {
                                                    ajaxFileUpload1();
                                                }
                                                function ajaxFileUpload1() {
                                                    $.ajaxFileUpload
                                                        (
                                                        {
                                                            url: '/userfiles/ImageUpload.ashx',
                                                            secureuri: false,
                                                            fileElementId: 'file1',
                                                            dataType: 'HTML',
                                                            success: function (data, status) {
                                                                var wholeval = CKEDITOR.instances.conclusioneditor.getData() + data;
                                                                CKEDITOR.instances.conclusioneditor.setData(wholeval);
                                                            },
                                                            error: function (e) {
                                                                alert(e);
                                                            }
                                                        }
                                                        )
                                                    return false;
                                                }
                                            </script>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="panel panel-success br-panel">
                        <div class="panel-heading cursor-pointer br-panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title br-panel-title" data-toggle="collapse" data-target="#c_comment" aria-expanded="true">
                                <span class="title-box">Comment</span>
                                <span class="glyphicon glyphicon-chevron-down chevron-down"></span>
                            </h4>
                        </div>
                        <div id="c_comment" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                @using (Html.BeginForm("AddBRComment", "BRTrace", FormMethod.Post, new { enctype = "multipart/form-data",id = "",name ="" }))
                                {
                                    <input id="HBRNUM" name="HBRNUM" value="@ViewBag.currentbr.BRNumber" type="hidden" />
                                    <input id="conclusionid" name="conclusionid" value="" type="hidden" />
                                    <input id="commentid" name="commentid" value="" type="hidden" />
                                    if (ViewBag.currentbr.GeneralCommentList != null && ViewBag.currentbr.GeneralCommentList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.currentbr.GeneralCommentList)
                                        {
                                            <div class="row con-border-color">
                                                <div class="col-xs-10">
                                                    <a>@item.Reporter.Split(new char[] { '@' })[0]</a>
                                                    <span>@item.CommentDate.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                                </div>
                                                <div class="col-xs-1">
                                                    <img src="~/Content/images/edit2.png" MYTP="HOVER" style="height:25px; width:20px;cursor:pointer" onclick="editcomment('@(item.CommentKey)','@item.Comment.Replace("\r","").Replace("\n","")')">
                                                </div>
                                                <div class="col-xs-1">
                                                    <a href="/BRTrace/DeleteBRComment?CommentKey=@(item.CommentKey)&BRNum=@(ViewBag.currentbr.BRNumber)">
                                                        <img src="~/Content/images/delete2.png" MYTP="HOVER" style="height:25px; width:20px">
                                                    </a>
                                                </div>
                                                <div class="col-xs-offset-1">@Html.Raw(item.Comment)</div>
                                            </div>
                                        }
                                    }
                                    <div class="row ckedit-box">
                                        <textarea name="commenteditor" id="commenteditor" rows="10" cols="80"></textarea>
                                        <script>
                                                CKEDITOR.replace('commenteditor', { htmlEncodeOutput: true, filebrowserUploadUrl: '/userfiles/Upload.ashx', skin: 'moono-dark' });
                                        </script>
                                    </div>
                                    <div class="row con-op">
                                        <div class="col-xs-4">
                                            <span class="btn btn-default btn-file" id="choosefile2">
                                                Editor Attachment <input class="btn-available" type="file" name="file2" id="file2" runat="server" onchange="ShowFileNames2(this)" />
                                            </span>
                                        </div>
                                        <div class="col-xs-offset-6">
                                            <input class="btn btn-success" type="submit" value="Submit" />
                                        </div>
                                        <script type="text/javascript">
                                            function editcomment(cid,cmt){
                                                $('#commentid').val(cid);
                                                CKEDITOR.instances.commenteditor.setData(cmt);
                                            }

                                            function ShowFileNames2(oFile) {
                                                ajaxFileUpload2();
                                            }
                                            function ajaxFileUpload2() {
                                                $.ajaxFileUpload
                                                (
                                                    {
                                                        url: '/userfiles/ImageUpload.ashx',
                                                        secureuri: false,
                                                        fileElementId: 'file2',
                                                        dataType: 'HTML',
                                                        success: function (data, status)
                                                        {
                                                            var wholeval = CKEDITOR.instances.commenteditor.getData() + data;
                                                            CKEDITOR.instances.commenteditor.setData(wholeval);
                                                        },
                                                        error: function (e)
                                                        {
                                                            alert(e);
                                                        }
                                                    }
                                                )
                                                return false;
                                            }
                                        </script>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="label-panel">
                    @foreach (var item in ViewBag.currentsearchlist)
                    {
                        <div class="label-color @(labelarray[bridx%labelarray.Count])">@item.BRNumber</div>
                        bridx = bridx + 1;
                    }
                </div>
                @if (ViewBag.total_pages > 1)
                {
                    @Html.Partial("~/Views/Shared/_pagination.cshtml")
                }
            </div>
        </div>
    </div>
</div>