
@{
    ViewBag.Title = "ERPComponent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Scripts/br.js" type="text/javascript"></script>
<script>
    $(function () {
        BR.common();
    })
</script>
<div class="content">
    <div class="container">
        <div><h1 class="erp-co-title">ERP Component</h1></div>

        @using (Html.BeginForm("ERPComponent", "BRTrace", FormMethod.Post, new { enctype = "multipart/form-data",id= "ERPComponentForm", name= "ERPComponentForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="erp-co-container">
                <div class="form-group">
                    <label class="control-label erp-co-pn">PNs:</label>
                    <textarea rows="2" class="form-control erp-co-pns" id="pns" name="pns" data-toggle="tooltip" title="PN1;PN2;PN3;PN4;.....">@((ViewBag.PNs == null)?"": ViewBag.PNs)</textarea>
                </div>
                <div class="form-group">
                     <input type="submit" class="btn btn-success" value="Query"/>
                </div>
            </div>
            <script type="text/javascript">
                $('body').on('keypress', '#pns', function (e) {
                    if (e.keyCode == 13) {
                        if ($('#pns').val())
                        {
                            $('#ERPComponentForm').submit();
                        }
                    }
                })
            </script>
        }

        <div class="jo-co-container">
            @if (ViewBag.POCompoList != null && ViewBag.POCompoList.Count > 0)
            {
                <br>
                <table id="podatatable" class="table table-bordered" cellspacing="0">
                    <caption class="erp-co-subtitle">Open PO Component</caption>
                    <colgroup>
                        <col style="width:5%" />
                        <col style="width:5%" />
                        <col style="width:5%" />
                        @*<col style="width:5%" />*@
                        <col style="width:5%" />
                        <col style="width:5%" />
                        <col style="width:5%" />
                        <col style="width:5%" />
                        <col style="width:25%" />
                        <col style="width:25%" />
                        <col style="width:5%" />
                        <col style="width:5%" />
                    </colgroup>

                    <thead>
                        <tr>
                            <th>PN</th>
                            <th>Rev</th>
                            <th>PO</th>
                            <th>QTY</th>
                            <th>Cost</th>
                            @*<th>QTY Recieved</th>*@
                            <th>Total QTY</th>
                            <th>Promise Date</th>
                            <th>Make/Buy</th>
                            <th>PN Desc</th>
                            <th>PO Desc</th>
                            <th>PO Staus</th>
                            <th>Planner</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.POCompoList)
                        {
                            <tr>
                                <td>@item.PN</td>
                                <td>@item.Rev</td>
                                <td>@item.PO</td>
                                <td>@item.QTY</td>
                                <td>@item.Cost</td>
                                @*<td>@item.QTYRecieve</td>*@
                                <td>@(ViewBag.POTotalDict[item.PN])</td>
                                <td style="font-size:9px">@item.PromiseDate</td>
                                <td>@item.MakeBuy</td>
                                <td style="word-break:break-word;font-size:9px">@item.PNDesc</td>
                                <td style="word-break:break-word;font-size:9px">@item.PODesc</td>
                                <td>@item.POStaus</td>
                                <td>@item.Planner</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#podatatable').DataTable({
                            'iDisplayLength': 10,
                            'aLengthMenu': [[10, 20, 30, -1],
                                            [10, 20, 30, "All"]],
                            "bAutoWidth": false,
                            "aaSorting": [],
                            "order": false
                        });
                    });
                </script>
            }

            @if (ViewBag.IQCCompoList != null && ViewBag.IQCCompoList.Count > 0)
            {
                <br>
                <table id="iqcdatatable" class="table table-bordered" cellspacing="0" width="100%">
                    <caption class="erp-co-subtitle">IQC Component</caption>
                    <thead>
                        <tr>
                            <th>PN</th>
                            <th>Rev</th>
                            <th>QTY</th>
                            <th>Total QTY</th>
                            <th>Lot Num</th>
                            <th>IQC WorkFlow</th>
                            <th>Transaction Date</th>
                            <th>Desc</th>
                            <th>Planner</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.IQCCompoList)
                        {
                            <tr>
                                <td>@item.PN</td>
                                <td>@item.Rev</td>
                                <td>@item.QTY</td>
                                <td>@(ViewBag.IQCTotalDict[item.PN])</td>
                                <td>@item.LotNum</td>
                                <td>@item.IQCWorkFlow</td>
                                <td>@item.TransactionDate</td>
                                <td style="word-break:break-word;font-size:9px">@item.Desc</td>
                                <td>@item.Planner</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#iqcdatatable').DataTable({
                            'iDisplayLength': 10,
                            'aLengthMenu': [[10, 20, 30, -1],
                                            [10, 20, 30, "All"]],
                            "bAutoWidth": false,
                            "aaSorting": [],
                            "order": false
                        });
                    });
                </script>
            }
            @if (ViewBag.OnhandCompoList != null && ViewBag.OnhandCompoList.Count > 0)
            {
                <br>
                <table id="onhanddatatable" class="table table-bordered" cellspacing="0">
                    <caption class="erp-co-subtitle">Onhand Component</caption>
                    <thead>
                        <tr>
                            <th>PN</th>
                            <th>Rev</th>
                            <th>QTY</th>
                            <th>Total QTY</th>
                            <th>Recieve Date</th>
                            <th>Place</th>
                            <th>Make/Buy</th>
                            <th>Lot Num</th>
                            <th>Desc</th>
                            <th>Planner</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.OnhandCompoList)
                        {
                            var trstyle = "";
                            if (item.Place.Contains("MFG.")
                                || item.Place.Contains("MRB."))
                            {
                                trstyle = "background-color: #f59d2b!important;";
                            }
                            <tr style="@(trstyle)">
                                <td>@item.PN</td>
                                <td>@item.Rev</td>
                                <td>@item.QTY</td>
                                <td>@(ViewBag.OnhandTotalDict[item.PN])</td>
                                <td>@item.RecieveDate</td>
                                <td>@item.Place</td>
                                <td>@item.MakeBuy</td>
                                <td>@item.LotNum</td>
                                <td style="word-break:break-word;font-size:9px">@item.Desc</td>
                                <td>@item.Planner</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#onhanddatatable').DataTable({
                            'iDisplayLength': 10,
                            'aLengthMenu': [[10, 20, 30, -1],
                                            [10, 20, 30, "All"]],
                            "bAutoWidth": false,
                            "aaSorting": [],
                            "order": false
                        });
                    });
                </script>
            }
        </div>
    </div>
</div>
<footer>
    <span class="col-xs-5"></span>
</footer>