
@{
    ViewBag.Title = "BR Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var labelarray = new List<string>();
    labelarray.Add("label-green");
    labelarray.Add("label-blue");
    labelarray.Add("label-purple");
    labelarray.Add("label-yellow");
    labelarray.Add("label-rosered");
    var bridx = 0;
}

<script src="~/Scripts/br.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        BR.init();
    })
</script>

<div class="content">
    <div class="container">
        <div class="row row-search">
            <span class="search"></span>
            <div class="input-group search-div hide">
                <input type="text" class="search-input" id="keywords" placeholder="Search for...">
                <span class="input-group-btn search-icon"></span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="welcome">
                    <span>Welcome to BR System</span>
                </div>
                <div class="nav-type-h">
                    <div class="nav-link-o">
                        <span class="nav-link-a" id="brkickoffnav">KickOff</span>
                        <span class="nav-frasl">&frasl;</span>
                        <span class="nav-link-a" id="brnav">Open</span>
                        <span class="nav-frasl">&frasl;</span>
                        <span class="nav-link-a" id="brclosenav">Closed</span>
                        <span class="nav-label">BR</span>
                    </div>
                    <div class="nav-link-j">
                        <span class="nav-link-a" id="jonav">Open</span>
                        <span class="nav-frasl">&frasl;</span>
                        <span class="nav-link-a" id="joclosenav">Closed</span>
                        <span class="nav-label">JO</span>
                    </div>
                    <div class="nav-link">
                        <span id="reportnav">Report</span>
                    </div>
                    <div class="nav-link">
                        <span id="erpcomponav">ERP Component</span>
                    </div>
                    <div class="nav-line-l"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="info">
                        <span class="info-count">@(ViewBag.brlist_count)</span>
                        <span class="info-description">BRs OPEN</span>
                    </div>
                    <div class="info">
                        <span class="info-count">@(ViewBag.jolist_count)</span>
                        <span class="info-description">JOs OPEN</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="label-panel br_panel">
                        @foreach (var item in ViewBag.brlist)
                        {
                            <div class="label-color @(labelarray[bridx%labelarray.Count])">@item.BRNumber</div>
                            bridx = bridx + 1;
                        }
                    </div>
                    @if (ViewBag.total_pages > 1)
                    {
                        @Html.Partial("~/Views/Shared/_pagination.cshtml")
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <span class="col-xs-5 footer-pic f-picture"></span>
</footer>
