@model Nebula.Models.JOBaseInfo

@{
    ViewBag.Title = "JODetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] jo_step = { "schedule", "pro-line", "pqe-oqc", "warehouse" };
    var jo_step_class = new List<String>(jo_step) ;
    var step_id = 1;
}
<script src="~/Scripts/br.js" type="text/javascript"></script>
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/exporting.js"></script>
<script src="~/Scripts/jodistribution.js"></script>
<script src="~/Scripts/pnerrordistribution.js"></script>
<script type="text/javascript">
    $(function(){
        BR.jodetail();
    })
</script>
<div class="nav-breadcrumb">
    <span class="bc-jo current-breadcrumb">Current JO</span>
    <span class="bc-br br-breadcrumb">@ViewBag.BRNum</span>
</div>
<div class="content">
    <div class="container">
        <div class="row row-search">
            <span class="search"></span>
            <div class="input-group search-div hide">
                <input type="text" class="search-input" id="keywords" placeholder="Search for...">
                <span class="input-group-btn search-icon"></span>
            </div>
        </div>
        <input type="hidden" id="jo_step" name="jo_step" value="@ViewBag.Step" />
        <input type="hidden" id="jo_num" name="jo_num" value="@ViewBag.JONum" />
        <input type="hidden" id="jo_num1" name="jo_num1" value="@ViewBag.JONum" />
        <input type="hidden" id="pjkey" name="pjkey" value="@ViewBag.ProjectKey"/>
        <input type="hidden" id="current_day" name="current_day" value="@ViewBag.CurrentDay" />
        <div style="padding-left: 10%;">
            <h3 style="color: #efefef;">@ViewBag.JONum Detail</h3>
        </div>
        <div class="jo-current-page schedule-page">Schedule</div>
        <div class="jo-op-tag">
            <span class="op-tag op-tag-schedule">
                @foreach (var step in jo_step_class)
                {
                    <span class="@step" id="sch-@step_id"></span>
                    step_id++;
                }
            </span>
        </div>
        @{
            <div class="jo-content jo-schedule">
                <div class="jo-schedule-op">
                    <img class="jo-import" src="~/Content/images/import.png" height="25" width="25"/>
                    <img class="jo-export" src="~/Content/images/export.png" height="25" width="25"/>
                </div>
                @Html.Partial("~/Views/BRTrace/_JoSchedule.cshtml")
            </div>
            <div class="jo-@jo_step_class[1]">
                <div id="jodistribute" style="@((2 <= ViewBag.Step) ? "height: 600px":"")">
                    @if (2 <= ViewBag.Step)
                    {
                        @Html.Partial("~/Views/BRTrace/_JoDistribution.cshtml")
                    }
                </div>
            </div>
            <div class="jo-@jo_step_class[2]">
                <div id="pnerrdistribute" style="@((3 <= ViewBag.Step) ? "height: 600px":"")">
                    @if (3 <= ViewBag.Step)
                    {
                        @Html.Partial("~/Views/BRTrace/_JoPnErrDistribution.cshtml")
                    }
                </div>
            </div>
            <div class="jo-@jo_step_class[3]">
                @if (4 <= ViewBag.Step)
                {

                }
            </div>
        }
    </div>
</div>