@model Nebula.Models.JOBaseInfo

@{
    ViewBag.Title = "JODetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] jo_step = { "schedule", "pro-line", "pqe-oqc", "warehouse" };
    var jo_step_class = new List<String>(jo_step) ;
    var step_id = 1;
}
<script src="~/Scripts/br.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        BR.jodetail();
    })
</script>
<div class="nav-breadcrumb">
    <span class="bc-jo current-breadcrumb">Current JO</span>
    <span class="bc-br br-breadcrumb">@ViewBag.BRNum</span>
</div>
<div class="content">
    <div class="container">
        <div class="row row-search">
            <span class="search"></span>
            <div class="input-group search-div hide">
                <input type="text" class="search-input" id="keywords" placeholder="Search for...">
                <span class="input-group-btn search-icon"></span>
            </div>
        </div>
        <input type="hidden" id="jo_step" name="jo_step" value="@ViewBag.Step" />
        <input type="hidden" id="jo_num" name="jo_num" value="@ViewBag.JONum" />
        <div class="jo-current-page schedule-page">Schedule</div>
        <div class="jo-op-tag">
            <span class="op-tag op-tag-schedule">
                @foreach (var step in jo_step_class)
                {
                    <span class="@step" id="sch-@step_id"></span>
                    step_id++;
                }
            </span>
        </div>
        @{
            <div class="jo-content jo-schedule">
                @Html.Partial("~/Views/BRTrace/_JoSchedule.cshtml")
            </div>
            <div class="@((2 <= ViewBag.Step?"jo-content":"")) jo-@jo_step_class[1]"></div>
            <div class="@((3 <= ViewBag.Step?"jo-content":"")) jo-@jo_step_class[2]"></div>
            <div class="@((4 <= ViewBag.Step?"jo-content":"")) jo-@jo_step_class[3]"></div>
        }
    </div>
</div>