@model Nebula.Models.ECOCardComments

@{
    ViewBag.Title = "ModifyCardComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <ol class="breadcrumb" style="font-size:18px">
                <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Nebula/MiniPIP/ViewAll">Working MiniPIP</a></li>
                <li><a data-toggle="tooltip" title="Back To Card" href="/Nebula/MiniPIP/GoBackToCardByCardKey?CardKey=@(Model.CardKey)">MiniPIP Card</a></li>
                <li class="active">Update Card Comment</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<script src="../../ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("ModifyCardComment", "MiniPIP", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                Comment
            </div>

            <div class="form-group">
                <div>
                    <textarea name="commenteditor" id="commenteditor" rows="10" cols="80">@Model.Comment</textarea>
                    <script>
                        CKEDITOR.replace('commenteditor', { htmlEncodeOutput: true, filebrowserImageUploadUrl: '/userfiles/Upload.ashx', skin: 'moono-lisa' });
                    </script>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <span class="btn btn-default btn-file" id="choosefile6">
                                Editor Attachment <input type="file" name="file6" id="file6" runat="server" onchange="ShowFileNames6(this)" />
                            </span>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Save User Info" onclick="SaveUserContent()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>*@</div>
                        <div class="col-lg-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Retrieve User Info" onclick="UserCacheContent()"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>*@</div>
                        <div class="col-lg-5"></div>
                    </div>
                    <script type="text/javascript">
                                            function ShowFileNames6(oFile) {
                                                ajaxFileUpload();
                                            }
                                            function ajaxFileUpload() {
                                                $.ajaxFileUpload
                                                (
                                                    {
                                                        url: '/userfiles/ImageUpload.ashx',
                                                        secureuri: false,
                                                        fileElementId: 'file6',
                                                        dataType: 'HTML',
                                                        success: function (data, status)
                                                        {
                                                            var wholeval = CKEDITOR.instances.commenteditor.getData() + data;
                                                            CKEDITOR.instances.commenteditor.setData(wholeval);
                                                        },
                                                        error: function (e)
                                                        {
                                                            alert(e);
                                                        }
                                                    }
                                                )
                                                return false;
                                            }


                    </script>
                </div>
            </div>

        </div>
    </div>

    <hr/>
    
    <div class="row">
        <input class="form-control text-box single-line" value="@(Model.CardKey)" id="HCardKey" name="HCardKey" type="hidden" />
    </div>
    <div class="row">
        <input class="form-control text-box single-line" value="@(Model.CommentDate.ToString())" id="HDate" name="HDate" type="hidden" />
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="col-lg-3">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
                <div class="col-lg-9">
                </div>
            </div>
        </div>
    </div>
}